@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Inknut+Antiqua&family=Poppins&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

:root {
  --ft-1: "Carrois Gothic SC", sans-serif;
  --ft-2: "Inknut Antiqua", serif;
  --ft-3: "Roboto", sans-serif;
}

body {
  background: url("./image/body-bg.jpg");
  color: white;
}
